.profileWrapper{
    margin: 0 auto;
    width: 430px;
}
.profileWrapper>div{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: #fff;
}
.profileCard{
    margin-top: 100px;
    text-align: center;
    min-height: 0;
}
.profileCard p{
    color: rgba(0,0,0, 0.54);
}
.profileImage{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: -50px auto 0 auto;
}
.profileInfo{
    margin: 10px 0;
}
.profileInfo dl dd{
    font-weight: 200;
    margin: 0;
    color: #000;
    font-size: 14px;
}
.profileInfo dl dd ul{
   padding: 0;
    list-style: none;
}
.profileInfo dl dt{
    font-weight: normal;
    color: rgba(0,0,0, 0.54);
    font-size: 12px;
}
.profileInfo dl dd ul li>i{
    color: green;
}